.header__logo {
  width: 104px;
  padding-left: 27px;
  padding-bottom: 26px;
  transition: padding linear 0.2s;
}

@media screen and (min-width: 933px) {
  .header__logo {
    width: 142px;
    padding-left: 0;
    padding-bottom: 35px;
  }
}
