.footer__copyright {
  color: #545454;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

@media screen and (min-width: 933px) {
  .footer__copyright {
    max-width: 318px;
    color: #545454;
    font-size: 18px;
    line-height: 22px;
  }
}