.popup__close {
  position: absolute;
  top: -36px;
  right: 0;
  background: transparent url('../../../images/close-icon.svg') no-repeat;
  background-size: cover;
  border: 0;
  padding: 0 0 20px 20px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (min-width: 933px) {
  .popup__close {
    background-size: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    top: -40px;
    right: -40px;
  }
}