.profile__avatar-image {
  border-radius: 50%;
  max-width: 120px;
  margin-bottom: 26px;
  height: 120px;
  object-fit: cover;
}

.profile__avatar-image:hover {
  background: linear-gradient(rgba(42, 44, 47, .8), rgba(42, 44, 47, .8)),
  url('../../../images/edit-pen.svg') center / cover no-repeat;
}


@media screen and (min-width: 933px) {
  .profile__avatar-image {
    margin-bottom: 0;
  }
}
