.cards {
  max-width: 880px;
  display: flex;
  gap: 20px 19px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 933px) {
  .cards {
    justify-content: left;
    column-gap: 17px;
  }
}