.card {
  width: 282px;
  border-radius: 10px;
  margin: 0;
  background-color: #FFFFFF;
  padding-bottom: 25px;
  line-height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card:nth-child(3) {
  padding-bottom: 28px;
}

.card:nth-child(5) {
  padding-bottom: 28px;
}

@media screen and (min-width: 933px){
  .card:nth-child(3) {
    padding-bottom: 26px;
  }

  .card:nth-child(5) {
    padding-bottom: 26px;
  }
}
