.data-form {
  width: 282px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  padding: 25px 22px;
  line-height: 0;
}

@media screen and (min-width: 933px) {
  .data-form {
    width: 430px;
    max-width: 430px;
    padding: 34px 36px 37px;
  }
}
